---
import Layout from '@/layouts/Layout.astro';
import Breadcrumb from '@/components/Breadcrumb.astro';
import Product from '@/components/Product.astro';
---
<Layout 
	title="Catalogo"
	canonical="https://margon.com.ar"
	metaTitle=""
	metaDescription=""
	metaImg=""
>
    <Breadcrumb
        page="Catálogo"
        title="Catálogo de productos"
        description="Productos que comercializamos a mayoristas"
    />
    <div class="grid xl:grid-cols-4 lg:grid-cols-3 grid-cols-2 gap-4 gap-x-4 justify-items-center">
        <Product
            title = "Producto 1"
            description = "Lorem ipsum dolor est"
            provider='Distribuidor 1'
            img = "https://flowbite.com/docs/images/blog/image-1.jpg"
        />
        <Product
            title = "Producto 1"
            description = "Lorem ipsum dolor est"
            provider='Distribuidor 1'
            img = "https://flowbite.com/docs/images/blog/image-1.jpg"
        />
        <Product
            title = "Producto 1"
            description = "Lorem ipsum dolor est"
            provider='Distribuidor 1'
            img = "https://flowbite.com/docs/images/blog/image-1.jpg"
        />
        <Product
            title = "Producto 1"
            description = "Lorem ipsum dolor est"
            provider='Distribuidor 1'
            img = "https://flowbite.com/docs/images/blog/image-1.jpg"
        />
    </div>
</Layout>

<style>

</style>