---
import Layout from '@/layouts/Layout.astro';
import ContactInfo from '@/components/ContactInfo.astro';
import FormContact from '@/components/FormContact.vue';
import {
    mapIframe,
    siteKey,
    telphoneReadble,
} from '@/hooks/env.js';
---
<Layout 
	title="Contacto"
	canonical="https://margon.com.ar/contacto"
	metaTitle="MarGon - Contacto"
	metaDescription={"¿Quiéres ser distribuidor? Contáctenos para saber más sobre nuestras marcas Aral, Aralito, Viejo Minero y Sabores del Sol, y sus productos. Escríbanos " + telphoneReadble }
	metaImg="https://margon.com.ar/images/logos/margon_meta.webp"
    preLoad="images/contact.webp"
>

    <section class="bg-body dark:bg-gray-900">
        <div class="bg-[url('/images/contact.webp')] bg-no-repeat bg-cover bg-center bg-gray-600 bg-blend-multiply">
            <div class="px-4 lg:pt-24 pt-8 pb-72 lg:pb-80 mx-auto max-w-screen-sm text-center lg:px-6 ">
                <h1 class="mb-4 text-5xl tracking-tight font-extrabold text-primary-50">Contacto</h1>
                <p class="font-light text-white text-sm sm:text-md md:text-lg lg:text-xl pb-2 pt-1 px-2 rounded-lg shadow-md tracking-tight border max-w-max mx-auto bg-opacity-80 backdrop-filter backdrop-blur-sm bg-primary-900 border-primary-600 dark:bg-primary-950 dark:border-primary-700 dark:text-gray-200">Contáctenos para obtener nuestros productos</p>
            </div> 
        </div>
        <div class="py-16 px-4 mx-auto -mt-96 max-w-screen-xl sm:py-20 lg:px-6 ">
            <FormContact client:load />
            
            <ContactInfo />
        </div>
    </section>

    <section class="bg-white dark:bg-gray-800 py-12">
        <div class="max-w-screen-lg mx-auto rounded-xl shadow-xl" set:html={mapIframe}>
        </div>
    </section>
    
</Layout>


<!-- recaptcha v3 -->
<script async src={'https://www.google.com/recaptcha/api.js?render=' + siteKey}></script>
<script>

</script>