---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import Brands from '@/components/Brands.astro';
import ContentSection from '@/components/ContentSection.astro';
import Mvp from '@/components/MostViewedProducts.astro'
import CallToAction from '@/components/CallToAction.astro';
import CallToAction2 from '@/components/CallToAction2.astro';
import About from '@/components/About.astro';
---
<Layout 
	title="Margon SRL"
	canonical="https://margon.com.ar"
	metaTitle="MarGon - Productos para la industria alimenticia"
	metaDescription="Fábrica de alimentos creadora de las marcas Sabores del Sol, Aral, Aralito y Viejo Minero. Fabricamos más de 200 productos de exelentísima calidad"
	metaImg="https://margon.com.ar/images/hero.webp"
	preLoad="images/hero.webp"
>
	<Hero />
	<Brands />
	<section class="container mx-auto">
		<ContentSection
			left={true}
			title="Sabores del Sol"
			subtitle="Línea Salados"
			description="Esta línea ofrece una amplia variedad, desde sopas cremas y caldos deshidratados hasta condimentos y puré de papas. Con Sabores del Sol, garantizamos sabores auténticos y calidad superior en cada producto."
			img="images/logos/sabores_del_sol.svg"
			imgDark="images/logos/sabores_del_sol.svg"
		/>
		<ContentSection
			left={false}
			title="Aral"
			subtitle="Línea Dulces, Panadería y Repostería"
			description="Aral ofrece productos distintivos con sabores exlusivos de gelatinas, postres, flanes, mousses, cremas y más. También ofrecemos productos para la panificación como esencias, azucares y aditivos."
			img="images/logos/aral_azul.svg"
			imgDark="images/logos/aral_azul.svg"
		/>
		<ContentSection 
			left={true}
			title="Aralito"
			subtitle="Línea Golosinas"
			description="Con Aralito, ofrecemos una amplia gama de productos dulces diseñados específicamente para el público infantil. Podes encontrar juguitos para congelar, caramelos líquidos, cacao para leche, entre otros."
			img="images/logos/aralito.svg"
			imgDark="images/logos/aralito.svg"
		/>
		
		<ContentSection
			left={false}
			title="Viejo Minero"
			subtitle="Línea Cócteles"
			description="Esta línea es nuestro último lanzamiento, en donde innovamos en el desarrollo de bebidas con alcohol. Nuestro producto estrella es el Amargo Viejo Minero. ¡ Te invitamos a probarlo !"
			img="images/logos/viejo_minero.svg"
			imgDark="images/logos/viejo_minero_blanco.svg"
		/>
	</section>
	<CallToAction2 />
	<Mvp />
	<CallToAction />
	<About />
</Layout>

<style>

</style>
