

<section class="container mx-auto flex justify-center py-32">
    <div class="effect w-full p-6 bg-white border border-primary-100 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-2xl font-bold tracking-tight text-primary-950 dark:text-white">Sobre Nosotros</h5>
        <div class="max-sm:flex max-sm:flex-col-reverse max-sm:flex-col-0 sm:grid sm:grid-cols-12 gap-2">
            <ol class="relative border-s border-primary-200 dark:border-gray-700 sm:col-span-8">                  
                <li class="mb-10 ms-6">            
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-primary-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-primary-900">
                        <svg class="w-2.5 h-2.5 text-primary-800 dark:text-primary-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </span>
                    <h3 class="flex items-center mb-1 text-lg font-semibold text-primary-950 dark:text-white">1999</h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-primary-700 dark:text-gray-500">Creación de MARGON SRL</time>
                    <p class="text-base font-normal text-primary-900 dark:text-gray-400">
                        Empresa mendocina creada en el año 1999 por el Ingeniero Químico Alberto Sabás, en ese momento, el servicio brindado por la empresa era único en el mercado
                    </p>
                    <p class="text-base font-normal text-primary-900 dark:text-gray-400 max-sm:hidden">
                        Además de proveer de insumos y materias primas a sus clientes, MARGON S.R.L. provee un servicio integral
                    </p>
                </li>
                
            </ol>
            <div class="max-sm:py-8 sm:col-span-4 justify-items-center items-center">
                <img class="w-full" src="/images/logos/margon.png" alt="MarGon logo" />
            </div>
        </div>
        <ol class="relative border-s border-primary-200 dark:border-gray-700">
            <li class="mb-10 ms-6">            
                <span class="absolute flex items-center justify-center w-6 h-6 bg-primary-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-primary-900">
                    <svg class="w-2.5 h-2.5 text-primary-800 dark:text-primary-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </span>
                <h3 class="flex items-center mb-1 text-lg font-semibold text-primary-950 dark:text-white">2003</h3>
                <time class="block mb-2 text-sm font-normal leading-none text-primary-700 dark:text-gray-500">Sucursal en Godoy Cruz</time>
                <p class="text-base font-normal text-primary-900 dark:text-gray-400">
                    MARGON S.R.L comenzó a elaborar, fraccionar y envasar sus propios productos. <span>Se expande en una primera sucursal.</span>
                </p>
                <p class="text-base font-normal text-primary-900 dark:text-gray-400">
                    Nuevo slogan “Productos para la industria alimenticia”.
                </p>
                <p class="text-base font-normal text-primary-900 dark:text-gray-400 max-sm:hidden">
                    Se decidió que todos los productos fabricados tanto en la línea dulce como salados fueran comercializados a consumidores finales.
                </p>
                <p class="text-base font-normal text-primary-900 dark:text-gray-400">
                    Nacen las marcas: Sabores del Sol y ARAL
                </p>
            </li>
            <li class="mb-10 ms-6">            
                <span class="absolute flex items-center justify-center w-6 h-6 bg-primary-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-primary-900">
                    <svg class="w-2.5 h-2.5 text-primary-800 dark:text-primary-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </span>
                <h3 class="flex items-center mb-1 text-lg font-semibold text-primary-950 dark:text-white">2006</h3>
                <time class="block mb-2 text-sm font-normal leading-none text-primary-700 dark:text-gray-500">Sucursal en San Rafael</time>
                <p class="text-base font-normal text-primary-900 dark:text-gray-400">
                    <span>La empresa logró habilitarse en el departamento de San Rafael,</span> Bajo la categoría de “Manipuladores de alcohol de cereal”
                </p>
                <p class="text-base font-normal text-primary-900 dark:text-gray-400">
                    Se comenzó a realizar maceraciones de hierbas con alcohol para realizar bases de formulaciones de productos<span> como amargos, fernet cola, campari y demás cocteles preparados.</span>
                </p>
                <p class="text-base font-normal text-primary-900 dark:text-gray-400">
                    Nace la marca: Viejo Minero
                </p>
            </li>
            <li class="mb-10 ms-6">            
                <span class="absolute flex items-center justify-center w-6 h-6 bg-primary-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-primary-900">
                    <svg class="w-2.5 h-2.5 text-primary-800 dark:text-primary-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </span>
                <h3 class="flex items-center mb-1 text-lg font-semibold text-primary-950 dark:text-white">2019</h3>
                <time class="block mb-2 text-sm font-normal leading-none text-primary-700 dark:text-gray-500">Sucursal en Maipú</time>
                <p class="text-base font-normal text-primary-900 dark:text-gray-400">
                    Se montó una planta de producción de golosinas. Por el momento, se fabrican jugos para congelar y caramelos líquidos<span> o también llamados mielcitas</span>
                </p>
                <p class="text-base font-normal text-primary-900 dark:text-gray-400">
                    Nace la marca: ARALITO
                </p>
            </li>
        </ol>

    </div>
</section>

<style>
.effect {
  position:relative
}
.effect:before,
.effect:after {
  z-index:-1;
  position:absolute;
  content:"";
  bottom:15px;
  left:10px;
  width:50%;
  top:80%;
  max-width:550px;
  background:#777;
  box-shadow:0 15px 10px #777;
  -webkit-transform:rotate(-3deg);
  transform:rotate(-3deg)
}
.effect:after {
  -webkit-transform:rotate(3deg);
  transform:rotate(3deg);
  right:10px;
  left:auto
}
</style>