<section class="bg-primary-50 dark:bg-gray-400 mt-16">
    <div class="max-w-screen-md mx-auto px-4">
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-8 sm:gap-12  mx-auto">
            <div class="flex justify-center items-center">
                <img class="p-4 max-h-full max-w-32 rounded-lg"
                    src="/images/logos/sabores_del_sol.svg"
                    alt="Sabores del sol"
                />
            </div>
            <div class="flex justify-center items-center">
                <img class="p-4 max-h-full max-w-32 rounded-lg"
                    src="/images/logos/aral_azul.svg"
                    alt="Aral"
                />
            </div>
            <div class="flex justify-center items-center">
                <img class="p-4 max-h-full max-w-32 rounded-lg"
                    src="/images/logos/aralito.svg"
                    alt="Aralito"
                />
            </div>

            <div class="flex justify-center items-center">
                <img class="p-4 max-h-full max-w-32 rounded-lg dark:hidden"
                    src="/images/logos/viejo_minero.svg"
                    alt="viejo minero"
                />
                <img class="p-4 max-h-full max-w-32 rounded-lg hidden dark:block"
                    src="/images/logos/viejo_minero_blanco.svg"
                    alt="viejo minero"
                />                                                                                   
            </div>
   
        </div>
    </div>
</section>