<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Nuestras Marcas</h2>
            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"></p>
        </div>
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            
            <div class="bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700">
                <a href="" class="flex justify-center items-center h-full">
                    <img 
                        class="p-4 max-h-full max-w-full rounded-lg"
                        src="images/aral.png"
                        alt="Aral" 
                    />
                </a>
            </div>

            <div class="bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700">
                <a href="" class="flex justify-center items-center h-full">
                    <img class="p-4 max-h-full max-w-full rounded-lg"
                        src="images/aral2.png"
                        alt="Aral Bebidas energéticas">
                </a>
            </div>

            <div class="bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700">
                <a href="" class="flex justify-center items-center h-full">
                    <img class="p-4 max-h-full max-w-full rounded-lg"
                        src="images/sabores_del_sol.png"
                        alt="Sabores del sol">
                </a>
            </div>

            <div class="bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700">
                <a href="" class="flex justify-center items-center h-full">
                    <img class="p-4 max-h-full max-w-full rounded-lg"
                        src="images/viejo_minero.png"
                        alt="Viejo Minero">
                </a>
            </div>

        </div>
    </div>
</section>