---
import Whatsapp from "@/icons/Whatsapp.astro"
import {
    whatsappLinkeable,
} from '@/hooks/env.js'
---
<section class="py-16">
<div class="mx-auto bg-gradient-to-b from-primary-200 to-primary-300 px-8 dark:from-gray-800 dark:to-gray-700">
    <div
        class="gap-8 items-center justify-between py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <div>
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-primary-950 dark:text-white">Lleve la calidad y variedad de nuestros productos a sus clientes</h2>
            <p class="mb-6 font-normal text-primary-900 md:text-lg dark:text-gray-400">¡Contáctanos ahora para más detalles!</p>

        </div>
        <div class="items-end grid">
            <a href={'https://wa.me/' + whatsappLinkeable}
                class="w-full sm:w-auto bg-[#25d366] hover:bg-[#128C7E] focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-800">
                
                <Whatsapp extraClass="w-7 h-7 mr-3"/>
                <div class="text-left">
                    <div class="mb-1 text-xs">Consúltenos</div>
                    <div class="-mt-1 font-sans text-sm font-semibold">WhatsApp</div>
                </div>
            </a>

        </div>
    </div>
</div>
</section>