---
import Map from '@/icons/Map.astro';
interface Props {
    title: string;
    address: string;
}

const {title, address} = Astro.props
---
<div class="flex justify-between items-center p-6 border-l-8 bg-white rounded-lg shadow dark:bg-gray-800 border-primary-600 dark:border-primary-500 hover:bg-primary-50">
    <div>
        <h3 class="mb-2 text-xl font-bold text-primary-950 dark:text-primary-50">{title}</h3>
        <p class="flex font-light text-primary-900 dark:text-gray-400"><Map extraClass='text-primary-600 mr-2 mt-1' />{address}</p>
    </div>
</div>