<section
        class="bg-[url('/images/hero.jpg')] bg-no-repeat bg-cover bg-center bg-gray-500 dark:bg-gray-700 bg-blend-multiply">
        <div class="relative py-8 px-4 mx-auto max-w-screen-xl lg:py-52 xl:px-0 z-1">
            <div class="mb-6 max-w-screen-md lg:mb-0 text-center mx-auto min-h-96">
                <h1
                    class="mb-4 text-4xl font-extrabold tracking-tight leading-tight text-primary-50 md:text-5xl lg:text-6xl"
                >
                    Distribuidora de alimentos <span class="text-primary-200">MarGon</span>
                </h1>
                <p class="font-semibold text-white md:text-lg lg:text-xl py-4 rounded-lg shadow-md tracking-tight border w-full bg-opacity-80 backdrop-filter backdrop-blur-sm bg-primary-900 border-primary-600">
                    comercializamos más de 200 productos desarrollados íntegramente por nosotros
                </p>
                
            </div>
   
        </div>
    </section>