---
import ArrowRight from '@/icons/ArrowRight.astro';
---
<section class="bg-white dark:bg-gray-800">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-primary-950 dark:text-white">Productos más vistos</h2>
            <p class="font-light text-primary-900 lg:mb-16 sm:text-xl dark:text-gray-400">
                Productos más demandados de nuestras marcas
            </p>
        </div>
        <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
            <div class="items-center bg-white rounded-lg shadow-lg md:py-8 sm:flex dark:bg-gray-900 dark:border-gray-700">
                <a href="/catalogo" class="h-auto w-56 mx-auto ">
                    <img 
                        class="max-h-full max-w-48 sm:max-w-full mx-auto object-contain rounded-lg sm:rounded-none sm:rounded-l-lg"
                        src="images/sabores_del_sol/caldos_deshidratados/660g/sabores_del_sol_caldo_verdura_sin_sal_500g.webp"
                        alt="caldo de verduras deshidratados" 
                    />
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-primary-950 dark:text-white">
                        <a href="/catalogo">Caldo de verduras deshidratados</a>
                    </h3>
                    <span class="text-primary-900 dark:text-gray-400">Sabores del Sol</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
                        Instantáneo y muy bajo en sodio. Para complementar en dietas bajas en grasas.<br/>Contiene: 500g, rinde 25 Litros.
                    </p>
                    <a href="/catalogo" class="inline-flex items-center font-medium text-gray-600 dark:text-gray-500 hover:no-underline">
                        Ver catálogo
                        <ArrowRight />
                    </a>
                </div>
            </div> 
            <div class="items-center bg-white rounded-lg shadow-lg md:py-8 sm:flex dark:bg-gray-900 dark:border-gray-700">
                <a href="/catalogo" class="h-auto w-56 mx-auto">
                    <img 
                        class="max-h-full max-w-48 sm:max-w-full mx-auto object-contain rounded-lg sm:rounded-none sm:rounded-l-lg"
                        src="images/aral/esencias/aral_esencia_vainilla_2L.webp"
                        alt="Esencia de vainilla" 
                    />
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-primary-950 dark:text-white">
                        <a href="/catalogo">Esencia de vainilla</a>
                    </h3>
                    <span class="text-primary-900 dark:text-gray-400">Aral</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
                        Contenido: 2 Litros.<br/>Usos: Cremas, masas, tortas, bizcochuelos, helados, panes, postres y repostería en general
                    </p>
                    <a href="/catalogo" class="inline-flex items-center font-medium text-gray-600 dark:text-gray-500 hover:no-underline">
                        Ver catálogo
                        <ArrowRight />
                    </a>
                </div>
            </div> 
            <div class="items-center bg-white rounded-lg shadow-lg md:py-8 sm:flex dark:bg-gray-900 dark:border-gray-700">
                
                <a href="/catalogo" class="h-auto w-56 mx-auto">
                    <img
                        class="max-h-full max-w-48 sm:max-w-full mx-auto object-contain rounded-lg sm:rounded-none sm:rounded-l-lg"
                        src="images/aralito/juguitos/aralito_juguito_para_congelar.webp"
                        alt="Juguitos para congelar"
                    />
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-primary-950 dark:text-white">
                        <a href="/catalogo">Juguitos para congelar</a>
                    </h3>
                    <span class="text-primary-900 dark:text-gray-400">Aralito</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
                        Contiene: 60ml. Bebida analcoholica dietética.<br/>
                        Sabores: Naranja, Frutilla, Tutti Frutti, Cola, Limón, Pera, Manzana, Uva, Durazno y Banana
                    </p>
                    <a href="/catalogo" class="inline-flex items-center font-medium text-gray-600 dark:text-gray-500 hover:no-underline">
                        Ver catálogo
                        <ArrowRight />
                    </a>
                </div>
            </div> 
            <div class="items-center bg-white rounded-lg shadow-lg md:py-8 sm:flex dark:bg-gray-900 dark:border-gray-700">
                <a href="/catalogo" class="h-auto w-56 mx-auto">
                    <img
                        class="max-h-full max-w-48 sm:max-w-full mx-auto object-contain rounded-lg sm:rounded-none sm:rounded-l-lg"
                        src="images/viejo_minero/viejo_minero_amargo_1L.webp"
                        alt="Amargo"
                    />
                </a>
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-primary-950 dark:text-white">
                        <a href="/catalogo">Amargo</a>
                    </h3>
                    <span class="text-primary-900 dark:text-gray-400">Viejo Minero</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
                        Contenido: 1000ml alc 15%.<br/>
                        Bebida alcoholica hecha a base de una mezcla de hierbas, especial para preparar riquísimos tragos.
                    </p>
                    <a href="/catalogo" class="inline-flex items-center font-medium text-gray-600 dark:text-gray-500 hover:no-underline">
                        Ver catálogo
                        <ArrowRight />
                    </a>
                </div>
            </div>  
        </div>  
    </div>
  </section>
